$color-divider: #f0f0f0;
.inputNumber {
  border: 1px solid $color-divider;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.input {
  text-align: center;
}
.input, .btn {
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  text-align: center;
  width: 30px;
  position: absolute;
  top: 0;
}
.minus {
  left: 0;
}
.add {
  right: 0;
}
