// button 和 form 的组件的常规高度都固定在 44px
// button 不带 class 的时候不改变任何颜色, 也就是保留小程序默认的颜色, 比如 <button type="primary"> 还是可以很好的显示的
// 但如果要其他颜色比如加了 button--orange, 就不能写 type="primary", 不然样式的优先级很难预测, 这个可能是小程序的 bug
.button {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  padding: 12px 24px;
  // button 高度是 44
  border-radius: 4px;
  border: 0;
  margin: 0;
  &::after {
    display: none;
  }
}

.button--round {
  border-radius: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

.button--small {
  font-size: 13px;
  padding: 8px 16px;
  border-radius: 4px;
  &.button--round {
    border-radius: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.button--mini {
  font-size: 11px;
  padding: 1px 8px;
  border-radius: 3px;
  &.button--round {
    border-radius: 11px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.button--orange {
  color: #fff;
  background-color: $color-orange;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-orange, 5%);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-orange, 30%);
  }
}
.button--blue {
  color: #fff;
  background-color: $color-blue;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-blue, 5%);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-blue, 40%);
  }
}
.button--dark {
  color: #fff;
  background-color: #020202;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten(#020202, 15%);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: lighten(#020202, 50%);
  }
}


.button--primary {
  color: #fff;
  background-color: var(--color-primary);
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: var(--color-primary--light);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: var(--color-primary--lighter);
  }
}
