// button 标签是小程序和网页通用的, 这里定义样式的时候可以不用 css
// button 和 form 的组件的常规高度都固定在 44px
// button 不带 class 的时候不改变任何颜色, 也就是保留小程序默认的颜色, 比如 <button type="primary"> 还是可以很好的显示的
button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 24px;
  // button 高度是 44
  border: 0;
  margin: 0;
  &::after {
    display: none;
  }
}
button.button--round {
  border-radius: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

button.button--small {
  font-size: 13px;
  padding: 8px 16px;
  &.button--round {
    border-radius: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

button.button--orange {
  color: #fff;
  background-color: $color-orange;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-orange, 5%);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-orange, 30%);
  }
}
button.button--blue {
  color: #fff;
  background-color: $color-blue;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-blue, 5%);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-blue, 40%);
  }
}
button.button--dark {
  color: #fff;
  background-color: $color-text;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-text, 5%);
  }
  &[disabled] {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-text, 50%);
  }
}
