.form {
  display: block;
  overflow: hidden;
  background-color: #fff;
  padding: 0 15px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color-divider;  // 把最后一个 form-item 的 border-bottom 遮住
  }
  .form-item {
    position: relative;
    border-bottom: 1px solid $color-divider;
    padding: 3px 0 (3px - 1px) 100px;  // 有一个 border-bottom, 需要 padding-bottom 减少 1px
    height: 50px;  // 内容高度是 44, 整体高度是 50
  }
  .input {
    display: block;
    margin: 10px 0;
    height: 24px;
    line-height: 24px;
  }
  .picker {
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0;
  }
  .label {
    position: absolute;
    top: 0;
    height: 50px;
    line-height: 50px;
    width: 90px;
    left: 5px;
  }
}
