@import "taro-default";
// 修复 taro 下的一些样式

/* #ifdef h5 */
taro-image-core {
  text-align: center;
}
.taro_html {
  img {
    display: block;
    max-width: 100%;
  }
}
/* #endif */


/* v-html 默认样式基础上的一些优化, 根节点需要加上 .taro_html */
.taro_html {
  padding-left: 20px;
  padding-right: 20px;
  .img {
    display: block;
    // TODO: 这个 display: block 是为了消除底部的留白, 如果遇到问题, 需要再优化下
    // 有一种优化方案是父元素使用 display: flex
    margin-left: -20px;
    margin-right: -20px;
    // width: calc(100% + 30px);
    width: auto;
    // max-width: 100%;
    height: unset;
  }
  // html.js 里面已经处理了在 br 的文字里面加上 "\n", 所以 .taro_html 里面样式不再需要了
  .br::before {
    content: "";
    white-space: normal;
  }
}
