/* global css start */

page, view, text, image, scroll-view, movable-area, cover-view, icon, rich-text,
progress, button, checkbox, form, input, label, picker, picker-view, radio,
slider, switch, textarea, navigator, audio, video {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}

// * 会导致 wxss 报错
// *, *::before, *::after {
//   box-sizing: border-box;
// }

html, body, page {
  font-size: 14px;
  color: #222;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* global css end */
