$color-text: #262626;  // 默认文字颜色
$color-text-light: #666666;  // 辅助文字的颜色
$color-text-lighter: #aaaaaa;  // 提示文字的颜色

$color-bg-gray: #f6f6f6;  // 默认页面背景色
$color-bg-dialog: #ffffff;

$color-divider: #f0f0f0;

// 其他重点颜色
$color-orange: #ff5a00;
$color-blue: #284179;


// 统一控制 z-index
$z-index-navbar: 100;  // 固定的顶部或者侧边导航栏
$z-index-footer: 100;  // 底部固定按钮
$z-index-drawer: 200;  // Drawer 专用
$z-index-modal: 300;  // 弹出框专用
$z-index-dialog: 300;
