@import '@/styles/mixins';
@import '@/styles/variables';

.lightText {
  opacity: 0.7;
  font-size: 0.85em;
}

/* 黑色顶部区域 */
.blackHeader {
  background-color: #020202;
  color: #fff;
  padding: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -8px;
    bottom: -6px;
    height: 16px;
    width: 16px;
    transform: rotate(45deg);
    background-color: #020202;
  }
}
.profileWrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}
.growthValueWrapper {
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.progressBar {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: #272727;
  overflow: hidden;
  margin-top: 10px;
}
.progressBarInner {
  height: 100%;
  width: 20%;
  background-image: linear-gradient(104deg, #eac893, #ddb47a 81%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.ctaWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 18px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(109deg, #e8cca7, #edd6b8 53%, #e6caa5 83%);
  color: #5c411a;
  button {
    color: #e6caa5;
    background-color: #020202;
  }
}

/* 合伙人权益和任务 */
.sectionTitle {
  padding: 20px 25px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.pros {
  @include clearfix();
  padding: 0 25px;
}
.proItem {
  float: left;
  width: 50%;
  white-space: nowrap;
  line-height: 20px;
  padding: 5px 5px 5px 55px;
  margin-bottom: 15px;
  background-size: auto 44px;
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 1.1em;
}
.todos {
  padding: 0 25px;
}
.todoItem {
  padding: 5px 80px 5px 55px;
  margin-bottom: 15px;
  background-size: auto 44px;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  button {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 2px 12px;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
    background-color: #020202;
  }
}
.todoTag {
  display: inline-block;
  border-radius: 2px;
  background-image: linear-gradient(107deg, #e8cca7, #edd6b8 52%, #e6caa5 83%);
  color: #5c411a;
  font-size: 11px;
  font-weight: bold;
  padding: 0 5px;
}

/* 高成长值商品 */
.productsWrapper {
  padding: 100px 5px 10px;
  background-color: $color-bg-gray;
  @include clearfix();
}
.productGrid {
  float: left;
  width: 50%;
  padding: 5px;
  &:nth-child(2n+1) {
    clear: both;
  }
}
.productItem {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.productImageWrapper {
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.productGrowthValue {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 0 6px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  height: 18px;
  border-radius: 2px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(106deg, #e8cca7, #edd6b8 52%, #e6caa5 82%);
  color: #5c411a;
}
.productTitle {
  margin: 7px;
  font-size: 12px;
  line-height: 15px;
  height: 30px;
  letter-spacing: 1px;
  word-break: break-all;
  @include ellipsis(2);
  font-weight: 500;
  color: $color-text;
}
.productFooter {
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 0 8px;
    border-radius: 10px;
    font-size: 11px;
    color: #fff;
    background-color: #020202;
  }
}
