@import '@/styles/mixins';
@import '@/styles/variables';
$color-card-bg: #1a1a1a;
$color-card-footer: #020202;
$color-golden: #e7cba7;

page {
  background-color: $color-bg-gray;
}

.page {
  padding: 50px 30px;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-card-bg;
  & + & {
    margin-top: 80px;
  }
  border-radius: 10px;
}
.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: $color-golden;
  padding-top: 45px;
  padding-bottom: 20px;
  // background-color: $color-card-bg;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  overflow: hidden;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -35px;
}
.title {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}
.wechat {
  font-size: 14px;
  opacity: 0.8;
  height: 16px;
  white-space: nowrap;
  font-weight: 200;
}
.cardBtn {
  margin-top: 20px;
  min-width: 100px;;
}

.steps {
  margin-top: 10px;
  width: 100%;
  height: 75px;
}
.cardFooter {
  width: 100%;
  background-color: $color-card-footer;
  padding: 15px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $color-text-lighter;
  font-size: 13px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}