$color-text: #262626;
$color-light: rgba(#333333, 0.3);
$color-divider: rgba(#979797, 0.1);
$color-border: rgba(0, 0, 0, 0.1);
$border-radius: 4px;
$color-bg: #ffffff;
$color-bg-grey: #f6f6f6;
$color-bg-light: rgba(0, 0, 0, 0.8);