// $color-text: #222;
$color-text-light: #aaa;
$color-primary: #ff5a00;
$color-accent: #ff5a00;
$color-divider: #f8f8f8;

.page--checkout {
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
  /* section */
  > .section {
    border-radius: 6px;
    background-color: #fff;
    margin: 8px;
    padding: 12px;
  }
  .section__header {
    margin-bottom: 12px;
    // font-size: 0.95em;
    font-weight: bold;
  }
  .price-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .price-line {
      margin-top: 10px;
    }
  }
  /* lines */
  .lines-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .line-image {
      width: 60px;
      height: 60px;
      border-radius: 6px;
      overflow: hidden;
      margin-right: 10px;
    }
  }
  /* footer */
  > .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button--payfororder {
    //
  }
}
/* 一些通用样式, 暂时先不移动到全局 app.scss 里面, 目前很多基础样式还没定
页面之间的样式在小程序里不会冲突, 只要同一个页面的组件之间区分好 class 就行 */
button {
  // button 标签是小程序和网页通用的, 这里定义样式的时候可以不用 css
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  padding: 8px 12px;
  // button 高度是 36
  border: 0;
  margin: 0;
  &::after {
    display: none;
  }
}
button.button--round {
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
}
button.button--primary {
  color: #fff;
  background-color: $color-primary;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-primary, 5%);
  }
}
.text--highlight {
  color: $color-accent;
}
.text--bold {
  font-weight: bold;
}
.text--light {
  color: $color-text-light;
}
.caret-right {
  width: 8px;
  height: 8px;
  display: inline-block;
  transform: rotate(45deg);
  border-top: 1px solid $color-text-light;
  border-right: 1px solid $color-text-light;
}
