@import '@/styles/variables';

.page--checkout {
  min-height: 100vh;
  background-color: $color-bg-gray;
  overflow: hidden;
  /* section */
  > .section {
    border-radius: 6px;
    background-color: #fff;
    margin: 8px;
    padding: 12px;
  }
  .section__header {
    margin-bottom: 12px;
    // font-size: 0.95em;
    font-weight: bold;
  }
  .price-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .price-line {
      margin-top: 10px;
    }
  }
  /* address */
  .shipping-address-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .area, .contact {
      font-size: 0.9em;
      color: lignten($color-text, 30%);
    }
    .address {
      font-size: 1.1em;
      font-weight: bold;
      margin: 0.2em auto;
    }
  }
  /* lines */
  .lines-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .line-image {
      width: 60px;
      height: 60px;
      border-radius: 6px;
      overflow: hidden;
      margin-right: 10px;
    }
    padding-bottom: 12px;
    border-bottom: 1px solid $color-divider;
  }
  .coupon-codes-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0;
    margin-bottom: -12px;
  }
  /* footer */
  > .footer {
    position: fixed;
    z-index: $z-index-footer;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button--payfororder {
    //
  }
}

.text-tip {
  font-size: 0.85em;
  color: $color-text-lighter;
}
.caret-right {
  width: 7px;
  height: 7px;
  display: inline-block;
  transform: rotate(45deg);
  border-top: 1px solid $color-text-lighter;
  border-right: 1px solid $color-text-lighter;
}
