@import '@/styles/variables';

.page--checkout {
  min-height: 100vh;
  background-color: $color-bg-gray;
  overflow: hidden;
  /* section */
  > .section {
    border-radius: 6px;
    background-color: #fff;
    margin: 8px;
    padding: 12px;
  }
  .section__header {
    margin-bottom: 12px;
    // font-size: 0.95em;
    font-weight: bold;
  }
  .price-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .price-line {
      margin-top: 10px;
    }
  }
  /* address */
  .shipping-address-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .area, .contact {
      font-size: 0.9em;
      color: lignten($color-text, 30%);
    }
    .address {
      font-size: 1.1em;
      font-weight: bold;
      margin: 0.2em auto;
    }
  }
  /* lines */
  .lines-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .line-image {
      width: 60px;
      height: 60px;
      border-radius: 6px;
      overflow: hidden;
      margin-right: 10px;
    }
    padding-bottom: 12px;
    border-bottom: 1px solid $color-divider;
  }
  .coupon-codes-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0;
    margin-bottom: -12px;
  }
  /* footer */
  > .footer {
    position: fixed;
    z-index: $z-index-footer;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button--payfororder {
    //
  }
}

/* 一些通用样式, 暂时先不移动到全局 app.scss 里面, 目前很多基础样式还没定
页面之间的样式在小程序里不会冲突, 只要同一个页面的组件之间区分好 class 就行 */
button {
  // button 标签是小程序和网页通用的, 这里定义样式的时候可以不用 css
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  padding: 8px 12px;
  // button 高度是 36
  border: 0;
  margin: 0;
  &::after {
    display: none;
  }
}
button.button--round {
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
}
button.button--orange {
  color: #fff;
  background-color: $color-orange;
  &.button-hover {
    color: rgba(#fff, 0.9);
    background-color: lighten($color-orange, 5%);
  }
}
.text-tip {
  font-size: 0.85em;
  color: $color-text-lighter;
}
.caret-right {
  width: 7px;
  height: 7px;
  display: inline-block;
  transform: rotate(45deg);
  border-top: 1px solid $color-text-lighter;
  border-right: 1px solid $color-text-lighter;
}
