@import '@/styles/mixins';
@import '@/styles/variables';
.searchInputWrapper {
  position: fixed;
  z-index: $z-index-navbar;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-bg-gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .searchInput {
    flex: 1;
    display: block;
    height: 40px;
    border-color: transparent;
    background-color: transparent;
    padding: 5px;
  }
  :global([class^="el-icon-"]) {
    display: block;
    padding: 8px 10px;
  }
}
.categoriesBar {
  position: fixed;
  z-index: $z-index-navbar;
  left: 0;
  // top: 0;  // inline 动态定义
  height: 35px;
  width: 100%;
  background-color: #fff;
  // padding-right: 60px;
}
.categoriesScroll {
  width: 100%;
  height: 100%;
}
// .categoriesFilterButton {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 50px;
//   height: 100%;
//   // font-size: 20px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: $color-text-light;
//   :global(.is-dirty) {
//     color: $color-text;
//     font-weight: bold;
//   }
//   &::after {
//     position: absolute;
//     content: "";
//     left: 0;
//     top: 10px;
//     height: 15px;
//     border-left: 1px solid $color-divider;
//   }
// }
.categoriesInner {
  display: inline-block;
  white-space: nowrap;
  padding: 0 5px;
}
.categoryItem {
  display: inline-block;
  vertical-align: middle;
  padding: 0 12px;
  .categoryText {
    display: inline-block;
    font-size: 15px;
    padding-top: 5px;
    border-bottom: 2px solid transparent;
    line-height: 35px - 5px - 2px;
    color: $color-text-light;
  }
  &:global(.is-active) {
    .categoryText {
      border-bottom-color: $color-text;
      color: $color-text;
      font-weight: bold;
    }
  }
}

.categoryImage {
  display: block;
  margin: 8px;
  padding-top: 33.333333%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.fineTuningButtonsWrapper {
  margin-top: 10px;
  height: 40px;
  .fineTuningButtonsInner {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: rgba(#fff, 0);
    // transition: all .2s ease-in-out;
    &:global(.is-fixed) {
      position: fixed;
      z-index: $z-index-navbar;
      left: 0;
      width: 100%;
      background-color: rgba(#fff, 1);
    }
  }
  .fineTuningButton {
    padding: 6px 12px;
    &:global(.is-dirty) {
      font-weight: bold;
    }
  }
  :global([class^="el-icon-"]) {
    margin-right: 0.2em;
    font-size: 1.1em;
  }
}

.drawerFilter {
  overflow: hidden;
  padding: 5px 15px 30px;
}
.filterSection {}
.filterTitle {
  margin: 15px auto 5px;
}
.filterBodyRows {
  .filterItem {
    padding: 5px 5px 5px 15px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: -2px;
      top: 9px;
      width: 12px;
      height: 12px;
      border: 2px solid $color-text;
    }
    &:global(.is-active) {
      &::after {
        background-color: $color-text;
        box-shadow: inset 0 0 0 1px #fff
      }
      // font-weight: bold;
    }
  }
}
.filterBodyPills {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: -10px;
  .filterItem {
    margin: 0 10px 10px 0;
    padding: 4px 14px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    border-radius: 13px;
    color: $color-text-light;
    background-color: $color-bg-gray;
    &:global(.is-active) {
      // border-color: darken($color-bg-gray, 10%);
      // border-color: $color-text;
      background-color: darken($color-bg-gray, 10%);
      color: $color-text;
      font-weight: bold;
    }
  }
}
.filterBodyImages {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: -4px;
  .filterItem {
    margin: 0 4px 4px 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:global(.is-active) {
      &:global(.has-image) {
        border: 1px solid $color-text;
        box-shadow: inset 0 0 0 2px #ffffff;
      }
      font-weight: bold;
    }
  }
}
.drawerFilterFooter {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  :global(.button) {
    flex: 1;
    + :global(.button) {
      margin-left: 5px;
    }
  }
}
