$color-bg: #1a1a1a;
$color-bg-light: #373737;
$color-bg-dark: #000000;
$color-text: #ffffff;
$color-text-light: rgba(#ffffff, 0.6);
$color-golden: #e7cba7;
$color-red: #e74c3c;
$color-bg-progress: #272727;
$color-brown: #5c411a;
$color-box-shadow: rgba(0, 0, 0, 0.2);
$color-divider: rgba(#ffffff, 0.1);

.page {
  min-height: 100vh;
}
.page--account {
  background-color: $color-bg;
  color: $color-text;
  padding: 25px 20px;
}
.account {
  &__customer__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__customer__login {
    font-size: 16px;
  }
  &__customer__avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
  }
  &__customer__caption {
    flex: 1;
    padding: 0 0 0 15px;
    font-size: 12px;
  }
  &__customer__caption__name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  &__customer__caption__referral {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__customer__full-name {
    font-size: 15px;
  }
  &__customer__level__title {
    margin-left: 10px;
    color: $color-text-light;
  }
  &__customer__navigator--text {
    margin-left: 10px;
    color: $color-golden;
  }
  &__customer__referral-code {
    line-height: 1;
    padding: 4px 6px;
    background-color: $color-bg-dark;
    border-radius: 2px;
  }
  &__customer__btn--copy-referral-code {
    background-color: transparent;
    font-size: 12px !important;
    padding: 3px 6px;
    margin: 0;
    margin-left: 10px;
    line-height: 1;
    color: $color-golden;
    border: 1px solid $color-golden;
    border-radius: 2px;
  }
  &__customer__caret {
    margin-right: -15px;
    width: 40px;
    height: 40px;
    position: relative;
  }
  &__customer__caret::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid $color-text;
    border-right: 2px solid $color-text;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    transform: rotate(45deg);
  }

  &__customer__level-progress {
    width: 100%;
    margin-top: 15px;
  }
  &__customer__level__hint {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: $color-text-light;
  }
  &__customer__level__hint__number {
    display: flex;
    align-items: center;
    color: $color-text;
    font-size: 11px;
  }
  &__text__caret {
    display: inline-block;
    margin-left: 3px;
    width: 6px;
    height: 6px;
    border-top: 1px solid $color-text-light;
    border-right: 1px solid $color-text-light;
    transform: rotate(45deg);
  }
  &__customer__level__progress {
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
    height: 8px;
    border-radius: 4px;
    background-color: $color-bg-progress;
  }
  &__customer__level__progress__inner {
    display: block;
    width: 0;
    height: 100%;
    background-color: $color-golden;
  }

  /* partner */
  &__partner {
    width: 100%;
    height: 34px;
    margin-top: 15px;
    border-radius: 17px;
    background: linear-gradient(135deg, #020202 66.7%, $color-golden 33.3%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__partner__text {
    font-size: 15px;
    width: 64%;
    text-align: center;
    color: $color-golden;
    font-weight: normal;
  }
  &__partner__btn__text {
    width: 32%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: $color-brown;
  }

  /* balance */
  &__balance {
    margin-top: 15px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 0 $color-box-shadow;
    background-image: linear-gradient(126deg, $color-bg-light, $color-bg 87%);
    color: $color-text-light;
  }
  &__balance__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__balance__values {
    display: flex;
    flex-direction: column;
    color: $color-text;
  }
  &__balance__values__label {
    font-size: 13px;
  }
  &__balance__values__number {
    font-size: 22px;
  }
  &__balance__values__hint {
    font-size: 10px;
  }
  &__balance__btns__withdraw-history {
    font-size: 12px;
    color: $color-text;
  }
  &__balance__btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__balance__btns__withdraw-history {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &__balance__btns__bind-alipay {
    margin-top: 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: $color-golden;
    color: $color-brown;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
  }

  &__balance__divider {
    width: 100%;
    height: 0;
    border-top: 1px solid $color-divider;
    margin: 15px 0;
  }

  &__balance__summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__balance__summary__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__balance__summary__item__label {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 10px;
  }
  &__balance__summary__item__value {
    font-size: 18px;
    color: $color-text;
    line-height: 1;
  }

  &__grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__grid__item {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__grid__item__icon {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
  }
  &__grid__item__icon--bigger {
    width: 25px;
    height: 25px;
  }
  &__grid__item__text {
    font-size: 13px;
    line-height: 1;
    color: $color-text-light;
  }

  &__promotion {
    margin-top: 30px;
  }

  &__section {
    margin-top: 30px;
  }
  &__section__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-divider;
    margin-bottom: 10px;
  }
  &__section__head__title {
    font-size: 15px;
    font-weight: 600;
    color: $color-text;
  }
  &__section__head__navigator {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color-text-light;
  }
  &__grid__navigator--divider:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    border-right: 1px solid $color-divider;
  }
  &__auth-btns {
    margin-top: 80px;
  }
  &__auth__btn {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  &__auth__btn::after {
    display: none;
  }
  &__auth__btn--golden {
    color: #ffffff;
    background-color: $color-golden;
  }
  &__auth__btn--red {
    color: #ffffff;
    background-color: $color-red;
  }
}