@import "styles/mixins";
@import "styles/variables";

/* global css start */
page, view, icon, rich-text, progress, slider, switch, navigator, radio, checkbox,
text, image, button, form, input, label, textarea, audio, video, swiper, swiper-item,
scroll-view, movable-area, movable-view, cover-view, picker, picker-view {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}
// * 会导致 wxss 报错
// *, *::before, *::after {
//   box-sizing: border-box;
// }
html, body, page {
  font-size: 14px;
  // color: #262626;
  color: $color-text;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* global css end */

/* components */
@import "styles/icons";
@import "styles/buttons";
